__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env.dev
.venv
venv/
ENV/
env/
*.egg-info/
.eggs/
dist/
build/
.coverage
.tox/
.mypy_cache/
.pytest_cache/
.DS_Store
.dockerignore
.git/
.gitignore
docker-compose.yml
Dockerfile
README.md
